*{
    margin: 0px;
    padding: 0px;
}

.navbar-brand img{
    width: 150px;

}
.carousel-item img{
    width: 100%;
    height: 500px;
}

.card img{
    width: 100%;
    height: 300px;
}

.carousel-item > div{
     display: block;
     margin: auto;
}


.carousel-item >div>img{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

.carousel-control-prev-icon {
    background-color: black;
}

.carousel-control-next-icon {
    background-color: black;
}

.carousel:nth-child(4){
    width: 300px;
    margin: auto;
}

.navbar-collapse{
    flex-grow: 0 !important;
}